@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

body {
  background-color: #fcfcfc;
  max-width: 100% !important;
  overflow-x: hidden !important;
  /* min-height: calc(100vh - 80px); !important; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Inter", sans-serif !important;
  font-weight: lighter;
}

.navbar {
  padding: 0 !important;
  padding-bottom: 6px !important;
  
}

.nav-item {
  font-size: 1.3em;
  margin-right: 8px;
  text-align: center;
}

.nav-item i {
  font-size: 1.1em; /*Larger icons*/
  width: 30px;
}

#searchBar {
  /* margin-right: 5px !important;
    margin-bottom: 5px !important; */
  /* width: 50%;*/
  /* margin-left: 5px; */
  /* margin-right: 12px; */
  /*
    margin-left: auto;
    margin-right: auto; USAR CON MEDIA QUERY PARA CUANDO COOLAPSA Y AMPLIARLO
    */
}

/*COntenedor del carrusel*/
#carouselExampleControls {
  margin-top: 80px;
  margin-bottom: 45px;
}

.carrusel {
  position: absolute;
  top: 10%;
}

.row {
  margin-bottom: 30px;
}

.cardTitles {
  text-align: center;
}
/*
.abajo {
    position: relative;
    bottom: 0;
    margin: 5px;    
}*/

#sidebar {
  padding: 0;

  /*new*/
  /* margin-top: 100px !important; */
}

.container-fluid {
  /* padding-left: 12; */
}

ul {
  list-style: none;
}

#primerElemento {
  min-height: calc(100vh - 230px) !important;
  margin-top: 120px;
}

.imgSmall {
  padding-left: 30px;
}

#contenedor {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

/*PAGINA DE PRODUCTOS*/
#mainContainerProducts {
  padding-right: 12px;
}

#mainContentContainer {
  margin-top: 100px;
}


/*large view*/
@media (min-width: 992px) {
  #searchBar {
    /* width: 50%;Custom size of the search bar on NavBar */

    /*
        margin-left: auto;
        margin-right: auto; USAR CON MEDIA QUERY PARA CUANDO COOLAPSA Y AMPLIARLO
        */
  }

  #mainContainerProducts {
    padding-right: 0;
  }
}

/*medium view*/
@media (min-width: 768px) and (max-width: 991px) {
  .imgCarrusel {
    height: 690px;
  }

  #mainContainerProducts {
    padding-right: 0;
  }
}

/*SMALL VIEW*/
@media (min-width: 576px) and (max-width: 767px) {
  .imgCarrusel {
    height: 390px;
  }

  #mainContainerProducts {
    padding-right: 0;
  }
}

/*phone VIEW*/
@media (max-width: 575px) {
  .imgCarrusel {
    height: 290px;
  }

  #mainContentContainer {
    margin-top: 15px;
  }
}

.weird {
  position: relative;
  top: -20;
}

/*----------  login Styles  ----------*/
.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  background: -webkit-linear-gradient(to right, #026179, #05dfe6);
  background: #0d1527;
}
.login-content {
  width: 98%;
  max-width: 600px;
  height: 400px;
  border: 1px solid black;
  background-color: #eeeeee;
  border-radius: 4px;
  padding: 15px;
  color: black;
  font-weight: bold;
}
.btn-login {
  width: 90%;
  padding: 10px 0;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 30px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: all 0.2s ease-out;
}
.btn-login:hover {
  background-color: teal;
  border: 1px solid black;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI";
  font-weight: bold;
}
.btn-login:active,
.btn-login:focus {
  outline: none;
}

#nombreSesion {
  text-align: center;
  /* margin-left: 12px; */
  /* margin
  
  -right: 5px; */
}

#nombreSesion > h6 {
  margin-bottom: 0px;
}

/*Luis stuff*/
/*Se le asignó un ID al form de productos para controlar estilos*/
#navbar-form {
  border: solid rgb(137, 137, 137) 2px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 5px 10px rgb(146, 146, 146);
  background-color: #eeeeee;
}
#boton-filtrar {
  background-color: #00e5ed;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 3px rgb(146, 146, 146);
  max-width: 80%;
  margin: auto;
  font-size: 25px;
}
.filtros {
  border: solid rgb(137, 137, 137) 1px;
  margin: 0px 5px 5px 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: white;
}
#titulouno {
  padding: 4px;
  /*Código base #3AF0F7;*/
  max-width: 60%;
  margin: auto;
  text-shadow: 1px 1.5px rgb(153, 153, 153);
  margin-top: 0px;
  margin-bottom: 5px;
}
.categoria {
  font-weight: bold;
  background-color: white;
}
#itemdenav {
  height: 68px;
}
#mainContentContainer {
  margin-top: 90px;
}
.sombreado {
  box-shadow: 2px 3px rgba(0, 0, 0, 0.477);
}
.limpiar {
  box-shadow: 0px 0px;
}

/* NEW STYLES */
.profundidad {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.profundidad_animado {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.profundidad_animado:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.03);
}

.anotstyle {
  text-decoration: none !important; /* Quita la decoración de subrayado */
  color: black !important ; /* Hereda el color del texto del elemento padre */
}
* {
}
